<ion-header>
  <ion-toolbar>
    <ion-title>Histórico de Conversões</ion-title>
    <ion-badge slot="end" color="warning" class="ion-margin-end">
      Histórico é limitado a 15 itens
    </ion-badge>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div style="max-width: 500px; margin: 0 auto; width: 100%;">

  <ion-list class="ion-padding">
    <ion-item *ngFor="let historyItem of conversionHistory; let i = index">
      <ion-label>
        <h3>{{ historyItem.conversion }}</h3>
        <p>{{ historyItem.timestamp }}</p>
      </ion-label>
      <ion-button
        slot="end"
        color="transluced"
        (click)="deleteHistoryItem(i)">
        <ion-icon
        color="danger"
        fill="outline"
        name="trash-outline"
        ></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</div>
</ion-content>
